extends ../_layout

block content
	.container
		.col-md-6.col-md-offset-3
			.well
				form(method="post", action="", class='form-horizontal')
					fieldset
						legend Register
						.form-group
							label.col-md-2.control-label(for="username") Username*
							.col-md-10
								input.form-control(id="username" type="text" name="username" placeholder="Username" required)
						.form-group
							label.col-md-2.control-label(for="email") Email*
							.col-md-10
								input.form-control(id="email" type="email" name="email" placeholder="Email" required)
						.form-group
							label.col-md-2.control-label(for="firstName") First Name*
							.col-md-10
								input.form-control(id="firstName" type="text" name="firstName" placeholder="First Name" required)
						.form-group
							label.col-md-2.control-label(for="lastName") Last Name*
							.col-md-10
								input.form-control(id="lastName" type="text" name="lastName" placeholder="Last Name" required)
						.form-group
							label.col-md-2.control-label(for="password") Password*
							.col-md-10
								input.form-control(id="password" type="password" name="password" placeholder="Password" required)
						.form-group
							label.col-md-2.control-label(for="confirmPassword") Confirm Password*
							.col-md-10
								input.form-control(id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password" required)
						.form-group
							label.col-md-2.control-label(for="profileImageURL") Profile image
							.col-md-10
								input.form-control(id="profileImageURL" type="text" name="profileImageURL" placeholder="Profile Image URL")
						.form-group
							col-md-10.col-md-offset-2
								button(type="reset" class="btn btn-default") Cancel
								button(type="submit" class="btn btn-primary") Register