include _mixins/_navigation

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Mappy
        block site-title
        
    link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/static/bower_components/bootstrap-theme-bootswatch-flatly/css/bootstrap.css")
    
    block styles
    link(rel="stylesheet", href="/static/css/main.css")
    link(rel='stylesheet', type='text/css', href='/static/css/jquery-autocomplete.css')


    script(src="/static/bower_components/jquery/dist/jquery.js")
    script(src="/static/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/static/js/requester.js")
    block headScripts

body
    header
        +site-navigation
    #content.container
        block content
    footer.text-center
        h2 © League of the Five
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')  
    script(type='text/javascript', src='/static/js/main.js')  
