include _mixins/_navigation

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Mappy
        block site-title
        
    link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/static/bower_components/bootstrap-theme-bootswatch-flatly/css/bootstrap.css")

    link(rel="stylesheet", href="/static/bower_components/bootstrap-social/bootstrap-social.css")
    link(rel="stylesheet", href="/static/bower_components/font-awesome/css/font-awesome.css")

    
    block styles
    link(rel="stylesheet", href="/static/css/main.css")
    link(rel='stylesheet', type='text/css', href='/static/css/jquery-autocomplete.css')


    script(src="/static/bower_components/jquery/dist/jquery.js")
    script(src="/static/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/static/js/requester.js")
    block headScripts

body
    header
        +site-navigation
    #content
        block content
    footer.text-center
        .panel-footer
            h4 © League of the Five
            p Telerik Academy 2016
            div
                p
                    a.btn.btn-social-icon.btn-lg.btn-youtube.pull-right.spacing-left(href='https://www.youtube.com/user/telerikacademy', target='_blank')
                        i.fa.fa-youtube-play.btn-danger
                p.home-btn
                    a.btn.btn-social-icon.btn-lg.btn-github.pull-right.spacing-left(target="_blank" href="https://github.com/marianamn/Mappy")
                        i.fa.fa-github 
                p.home-btn.spacing-left
                    a.btn.btn-social-icon.btn-lg.btn-facebook.pull-right.spacing-left(class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhilwynezlw.localtunnel.me%2F%23%2Fhome&amp;src=sdkpreparse")
                        i.fa.fa-facebook

        
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')  
    script(type='text/javascript', src='/static/js/main.js')
    script(type='text/javascript', src='/static/js/utils/validator.js')