html,
body {
    height: 100%;
}

body {
    width: 90%;
    position: absolute;
    padding-left: 10%;
    background: #9EA4AB;
    /*background: url("../img/backgroung-img2.jpg");*/
}

#content {
    background: #ECF0F1;
    width: 95%;
    height: auto;
    min-height: 80%;
    margin-top: -20px;
}

.add-spacing-before {
    padding-top: 5%;
}

.add-spacing-after {
    padding-bottom: 5%;
}

.country-names {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #2C3E50;
    font-weight: bold;
}

.flags {
    text-decoration: none;
}

.flag-img {
    width: 130px;
    height: 80px;
    border: 1px solid gray;
}

.country-img {
    width: 80%;
    height: 500px;
    padding-bottom: 50px;
}

.country-name {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

.table-country-details {
    padding-bottom: 50px;
}

.country-info {
    padding-top: 50px;
    text-align: justify;
}

.home-img {
    width: 200px;
    height: 200px;
}

.home-info {
    padding-bottom: 50px;
}

.home-link-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

#profile-image {
    width: 150px;
    height: 150px;
}

.fade-in-out {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
    opacity: 1;
    animation: fade 3s linear;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.correct {
    color: green;
}

.incorrect {
    color: red
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.red-text {
    color: red;
}

.answers-item {
    list-style: none;
}