extends ../_layout
block content
    ul
        each country in result
            li
                a(href="countries/" + country._id)= country.name
                img(src= country.flagUrl, style="width:100px;height:100px;")