extends ../_layout
block content
    .container
        div(class="instructions" )
            h1(class="instructions-header") Instructions
                h2(class="guess-the-country-header" style="text-align:center") Guess the Contry
                img(src="http://prpinc.com/wp-content/uploads/2011/09/globe.png", class="game-img-globe")             
                p(class="guess-the-country")
                    | Do you have an upcoming geography quiz on Europe but can’t tell Austria apart from Hungary on a map? This Europe map quiz game has got you covered. From Iceland to Russia and everything in between, this geography study app will get you up to speed in no time, while also being fun!
                p(class="guess-the-country")
                    | You are given a map of all 50 European countries and a question: Where is ...? You should hoover over the map and click on the place where you think this particular country is situated. If your answer is correct one point will be added to your game scores. You can check your score progress in Rankings.
                br
                h2(class="test-your-knowledge-header", style="text-align:center") Test your Knowledge
                img(src="https://www.drugtestingcourses.com/wp-content/uploads/2014/02/certificate.png", class="game-img-test")
                p(class="test-your-knowledge")
                    | OK you know where Belgium is on the European map, but are you ready to answer some questions about that country! Take our quiz and test your knowledge for the European countries. In case you got something wrong - relax, you just learned some new facts or features!
                p.test-your-knowledge.add-spacing-after
                    | Choose a particular country from the map and click on it. A question will pop up with four possible answeres that you can choose from. There is only one correct answer. If your answer is correct one point will be added to your game scores. You can check your score progress in Rankings.


            