extends ../_layout

block content
  .container
    .jumbotron
      h1 Welcome to Mappy
      p Very interesting things to show
      .btn-group-justified
        a.btn.btn-success.btn-lg(href='/find-the-country') Fing The Country
        a.btn.btn-primary.btn-lg(href='/test-your-knowledge') Test Your Knowledge
    <br>