extends ../_layout
block styles
    link(rel='stylesheet', type='text/css', href='static/includes/style.css', media='all')
    link(rel='stylesheet', type='text/css', href='static/cssmap-europe/cssmap-europe.css', media='screen')
    
block content
    #demo-page-europe
    article.page-content
        section#section-demo
            hr
            #display-map.display-demo-map
                #map-europe
                    ul.europe
                        li.eu1
                            a(href='#albania') Albania
                        li.eu2
                            a(href='#andorra') Andorra
                        li.eu3
                            a(href='#austria') Austria
                        li.eu4
                            a(href='#belarus') Belarus
                        li.eu5
                            a(href='#belgium') Belgium
                        li.eu6
                            a(href='#bosnia-and-herzegovina') Bosnia and Herzegovina
                        li.eu7
                            a(href='#bulgaria') Bulgaria
                        li.eu8
                            a(href='#croatia') Croatia
                        li.eu9
                            a(href='#cyprus') Cyprus
                        li.eu10
                            a(href='#czech-republic') Czech Republic
                        li.eu11
                            a(href='#denmark') Denmark
                        li.eu12
                            a(href='#estonia') Estonia
                        li.eu13
                            a(href='#france') France
                        li.eu14
                            a(href='#finland') Finland
                        li.eu15
                            a(href='#georgia') Georgia
                        li.eu16
                            a(href='#germany') Germany
                        li.eu17
                            a(href='#greece') Greece
                        li.eu18
                            a(href='#hungary') Hungary
                        li.eu19
                            a(href='#iceland') Iceland
                        li.eu20
                            a(href='#ireland') Ireland
                        li.eu21
                            a(href='#san-marino') San Marino
                        li.eu22
                            a(href='#italy') Italy
                        li.eu23
                            a(href='#kosovo') Kosovo
                        li.eu24
                            a(href='#latvia') Latvia
                        li.eu25
                            a(href='#liechtenstein') Liechtenstein
                        li.eu26
                            a(href='#lithuania') Lithuania
                        li.eu27
                            a(href='#luxembourg') Luxembourg
                        li.eu28
                            a(href='#macedonia')
                                | Macedonia 
                                abbr(title='The Former Yugoslav Republic of Macedonia') (F.Y.R.O.M.)
                        li.eu29
                            a(href='#malta') Malta
                        li.eu30
                            a(href='#moldova') Moldova
                        li.eu31
                            a(href='#monaco') Monaco
                        li.eu32
                            a(href='#montenegro') Montenegro
                        li.eu33
                            a(href='#netherlands') Netherlands
                        li.eu34
                            a(href='#norway') Norway
                        li.eu35
                            a(href='#poland') Poland
                        li.eu36
                            a(href='#portugal') Portugal
                        li.eu37
                            a(href='#romania') Romania
                        li.eu38
                            a(href='#russian-federation') Russian Federation
                        li.eu39
                            a(href='#serbia') Serbia
                        li.eu40
                            a(href='#slovakia') Slovakia
                        li.eu41
                            a(href='#slovenia') Slovenia
                        li.eu42
                            a(href='#spain') Spain
                        li.eu43
                            a(href='#sweden') Sweden
                        li.eu44
                            a(href='#switzerland') Switzerland
                        li.eu45
                            a(href='#turkey') Turkey
                        li.eu46
                            a(href='#ukraine') Ukraine
                        li.eu47
                            a(href='#united-kingdom') United Kingdom
                #demo-form-fields.demo-form-fields
                #demo-agents.demo-agents-list.wrapper
                #demo-markers
            .wrapper.hidden
                #map-settings.map-settings.fixed-container
                    form#map-settings-form(name='map-settings-form', action='#', method='post', novalidate='')
                        fieldset#options-basic
                            ul
                                li.inline-label
                                    label(for='map-set-size') Size (map width)
                                    .select-field
                                        select#map-set-size(name='map-set-size')
                                            option(value='1450', selected='') 1450 px
    footer.page-footer
        .wrapper
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(type='text/javascript', src='https://cssmapsplugin.com/5/jquery.cssmap.min.js')
    script(type='text/javascript', src='static/js/script.js')
    script(type='text/javascript', src='static/bower_components/jquery/dist/jquery.js')
      

