extends ../_layout
block styles
    link(rel='stylesheet', type='text/css', href='/static/includes/style.css', media='all')
    link(rel='stylesheet', type='text/css', href='/static/cssmap-europe/cssmap-europe.css', media='screen')
 
block content
    .answer-wrap
        .fade-in-out.correct Select a country
    #demo-page-europe
    article.page-content
        section#section-demo
            hr
            #display-map.display-demo-map
                #map-europe
                    ul.europe
                        each country in countriesData
                            li(class="eu" + country.euValue)
                                a(href="/game/test-your-knowledge/" + country.name) #{country.name}
                #demo-form-fields.demo-form-fields
                #demo-agents.demo-agents-list.wrapper
                #demo-markers
            .wrapper.hidden
                #map-settings.map-settings.fixed-container
                    form#map-settings-form(name='map-settings-form', action='#', method='post', novalidate='')
                        fieldset#options-basic
                            ul
                                li.inline-label
                                    label(for='map-set-size') Size (map width)
                                    .select-field
                                        select#map-set-size(name='map-set-size')
                                            option(value='1450', selected='') 1450 px
    footer.page-footer
        .wrapper
    script(type='text/javascript', src='../../static/js/jquery.cssmap.min.js') 
    script(type='text/javascript', src='../../static/js/script.js')
    script(type='text/javascript', src='../../static/bower_components/jquery/dist/jquery.js')
      

