extends ../_layout

block content
    .container
        ul
         each game in result
            li
                p=game.name
                img(src= game.gameUrl, class="more-game-img") 
                img(src= game.gameImgUrl)
