extends ../_layout

block content
    .container
        .row.add-spacing-before.text-center
            each game in result
                .col-lg-6  
                    div.add-spacing-after
                        p.more-games-name
                            a(href="" + game.gameUrl)=game.name
                        img(src= game.gameImgUrl class="more-game-img")
