mixin site-navigation
    nav.navbar.navbar-default
        .container-fluid.text-center
            .navbar-header
                button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar         
            #navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                       a.navbar-brand(href="/") Mappy
                    li
                        a(href="/rankings") Rankings
                    li
                        a(href="/countries") Countries
                    li
                        a(href="/terms") Terms
                    li
                        a(href="/more-games") More games
                    li
                        form.navbar-form.navbar-left.form-group.form-inline(role='search', action="/search" method="get")
                            //- label.col-md-1.control-label(for="username") Find
                            .col-md-1.search-bar
                                input#search-input.searchUsers.form-control(type="text" name="username" placeholder='Find user' )
                                button.btn.btn-danger.serch-icon
                                    span.glyphicon.glyphicon-search                        


                ul.nav.navbar-nav.navbar-right
                    if user
                        li.dropdown
                            a.dropdown-toggle(id="currentUsername" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                                = user.username
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="/users/" + user.username) 
                                        | View profile
                                li
                                    form(action="/auth/logout" method="post")
                                        button(class="btn btn-primary")
                                            | Sign out
                        li.chat
                            a(href="/communication/chat")
                                | Chat
                            if user.isAdmin
                                li.admin
                                    a(href="/admin/panel")
                                        | Admin panel
                    else
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                                | User
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="/auth/register") 
                                        | Sign up
                                li
                                    a(href="/auth/login")
                                        | Sign in
                                li
                                    a(href="/auth/facebook")
                                        | Sign in with facebook