extends ../_layout

block styles
    link(rel="stylesheet", type="text/css", href="/static/css/chat.css")

block headScripts
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/static/js/chat.js")

block content
    #main-chat.container
        .row
            .panel.panel-default
                .panel-heading Chat
                .panel-body
                    #message-container.container
                        each answer in answers
                            .row.message-bubble
                                p.text-muted #{answer.user}
                                span #{answer.answer} #{answer.datetime}
                    .panel-footer
                        .input-group
                            input.form-control(id="m" type='text')
                            span.input-group-btn
                                button.btn.btn-default(id="sendMsg" type='button') Send
