extends ../_layout

block headScripts
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(type='text/javascript', src='/static/js/chat.js')

block content
    .container.add-spacing-before
        .chat-content
        ul#messages
        form(action='')
            input#m(autocomplete='off')
            button.btn-sm.btn-primary Send
