extends ../_layout
block content
    - var loggedUser = user;
    .col-md-6.col-md-offset-3
        h3.text-center Guess The Country Games Ranking

        ul
            table.table.table-striped.table-hover
                thead
                    tr
                    th #
                    th User name
                    th.text-center Guess the country score
                tbody
                each user in result
                    tr.active
                    td=li=result.indexOf(user) + 1
                    td
                        if loggedUser
                            a(href='/users/' + user.username) #{user.username}
                        else
                            =li=user.username
                    td.text-center=li=user.guessTheCountryScore
            
        p.text-center
            a.btn.btn-primary(href="/rankings") Back to ranking