extends ../_layout

block content
    - var loggedUser = user;
    .col-md-6.col-md-offset-3
        h3.text-center Total Games Ranking

        ul
            table.table.table-striped.table-hover
                thead
                    tr
                    th #
                    th User name
                    th.text-center Total games score
                tbody
                each user in result
                    tr.active
                    td=li=result.indexOf(user) + 1  
                    td
                        if loggedUser
                            if loggedUser.username == user.username
                                a.red-text(href='/users/' + user.username) #{user.username}
                            else
                                a(href='/users/' + user.username) #{user.username}
                        else
                            =li=user.username
                    td.text-center=li=user.guessTheCountryScore + user.testYourKnowledgeScore
    
        p.text-center
            a.btn.btn-success(href="/rankings/guess-the-country-score") See Guess The Country Score
        p.text-center
            a.btn.btn-primary(href="/rankings/test-your-knowledg-score") See Test Your Knowledge Score