extends ../_layout

block headScripts
    script(type='text/javascript', src='/static/js/question-handler.js')

block content
    div
        if question
            h3.question(id= question._id)= question.question
            ul#answers-list
                each answer in question.answers
                    li.answers-item
                        button.btn.btn-info= answer.answer
        else 
            h3 No questions for this turkey..