extends ../_layout

block headScripts
    script(type='text/javascript', src='/static/js/question-handler.js')

block content

    div
        h3.question(id= question._id)= question.question
        ul
            each answer in question.answers
                li
                    button.btn.btn-info= answer.answer